@media (max-width: 700px) {
  .popover-container > div {
    bottom: 8rem !important;
    right: 1.5rem !important;
  }
}

.popover-button {
  text-transform: capitalize !important;
  font-weight: 400 !important;
  padding: 10px 15px !important;
  border-radius: 1rem !important;
  font-size: medium !important;
  box-shadow: rgba(0, 18, 46, 0.24) 0px 6px 32px 0px !important;
  height: 42px !important;
  color: rgb(6, 19, 43);
}

.popover-button:hover {
  box-shadow: rgba(0, 18, 46, 0.24) 0px 6px 32px 0px !important;
}

.popover-container.popover-modal-content {
  box-shadow: rgba(0, 18, 46, 0.16) 0px 8px 36px 0px !important;
}

/* .popover-container.popover-modal-content.dynamic-content.submit-button-and-page-nav-wrapper.submit-button.k-button {
  padding: 0.5rem !important;
  background: red !important;
}

.popover-container.popover-modal-content.k-button {
  padding: 3rem !important;
  background: #fff !important;
} */

.popover-container.popover-modal-content.dynamic-content.submit-button
  .k-button:not(.no-flex) {
  padding: 1rem !important; //okm
  background: red !important;
}
