@media (max-width: 700px) {
  .popover-container > div {
    bottom: 8rem !important;
    right: 1.5rem !important;
  }
}

.popover-button {
  text-transform: capitalize !important;
  font-weight: 400 !important;
  padding: 10px 15px !important;
  border-radius: 1rem !important;
  font-size: medium !important;
  height: inherit !important;
  box-shadow: rgba(0, 18, 46, 0.24) 0px 6px 32px 0px !important;
}
