.slider-button {
  text-shadow: none;
  transition: all 200ms ease;
}

.slider-button:disabled {
  color: inherit !important;
}

.slider-button:hover {
  background: var(--button-color-primary) !important;
}

.slider-modal .slider-modal-content-wrapper .modal-close-button {
  background: transparent !important;
  position: relative !important;
  padding: 2rem !important;
  top: 0 !important;
}

.slider-modal .slider-modal-content .dynamic-content {
  padding: 2rem 1rem 0 1rem !important;
}
