.popup-modal .popup-modal-content {
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 1.5rem;
}
.popup-modal .popup-modal-content .popup-modal-header {
  position: fixed !important;
  right: inherit !important;
}
.popup-modal .popup-modal-content .popup-modal-header .modal-close-button {
  background: transparent !important;
  position: relative !important;
  padding: 0.5rem !important;
  top: -3rem !important;
  margin: 0 !important;
}
.popup-modal .popup-modal-content .dynamic-content {
  padding: 1rem 1rem 0 1rem;
}
.popup-modal .popup-modal-content .online-forms-footer {
  padding: 0 1rem 1rem 1rem;
}
