.k-field-wrapper {  
    border-width: 3px !important;
  }
.k-number-wrapper .k-number-field{
  border-width: 0px !important;
}
.change-me {
  border: 3px red !important;
  background-color: black !important;
  color: red !important;
}
