.k-heading{
  border:red !important;
  border-width:3px !important;
  background: black !important;
}
.k-field-wrapper{
  border:red !important;
  border-width:3px !important;
  background: black !important;
}

.change-me {
  border: 3px red !important;
  background-color: black !important;
  color: red !important;
}
