.k-heading{
  border:red !important;
  border-width:3px !important;
  background: black !important;
}
.k-field-wrapper{
  border:red !important;
  border-width:3px !important;
  background: black !important;
}
